main {
  margin: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 50%;
  height: auto;
  max-width: 1500px;
  margin: 0 auto;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
